{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-5">
    <div class="row mt-5">
        <div class="col text-center mt-5">
            <h2 class="heading-font">Artists</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <div class="image-container my-5 px-4">
                {% if artist.image %}
                <a href="{{ artist.img.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ artist.image.url }}" alt="{{ artist.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}image_coming_soon.jpg"
                        alt="{{ artist.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-6 px-3">
            <div class="product-details-container mb-5 mt-md-5 px-4">
                <p class="artist-text font-weight-bold lead mb-3"><strong>{{ artist.name }}</strong></p>
                <p class="small logo-font text-black mt-1 py-2"><i class="fa-solid fa-location-pin"></i>
                    {{ artist.location }}
                </p>
                <p class="text-black lead mb-1 text-justify">{{ artist.bio }}</p>
                {% if artist.insta_url or artist.x_url or artist.facebook_url %}
                <h6 class="logo-font mt-4 py-4">Follow my socials to stay in touch and see what I'm up to!</h6>
                <p class="text-black mt-2"><span class="logo-font text-black">Instagram:</span> {{ artist.insta_url }}
                </p>
                <p class="text-black"><span class="logo-font text-black">X:</span> {{ artist.x_url }}</p>
                <p class="text-black"><span class="logo-font text-black">Facebook:</span> {{ artist.facebook_url }}</p>
                {% endif %}
                {% if request.user.is_superuser %}
                <div class="col-12 border border-info rounded p-2 mt-4">
                    <p class="p-2 text-black logo-font">Manage {{ artist.name }}'s profile</p>
                    <hr class="w-100 mb-2">
                    <small class="mb-0 text-left p-2">
                        <a href="{% url 'edit_artist' artist.id %}">Edit</a>
                        <a class="text-danger" href="{% url 'delete_artist' artist.id %}" title="delete" class="delete"
                            onclick="return confirm('Are you sure you want to delete this item')">Delete</a>
                    </small>
                </div>
                {% endif %}

                <!--NEED TO FIX -->
                <!-- <div>
                    <div class="row">
                        {% for product in artists %}
                        <div class="col">

                            <p class="text-black">hello</p>
                            <p>hello<a href="{% url 'product_detail' artist.product.id %}">{{ product.artist.id }}</a>
                            </p>

                        </div>
                        {% endfor %}
                    </div>
                </div> -->

                <a href="{% url 'artists' %}" class="btn btn-black btn-outline-black rounded-pill mt-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase pr-2">Back to All Artists</span>
                </a>

                <!-- <div>
                    <div class="row">
                        <div class="col">
                            {% if artist.product.id %}
                            <p>hello</p>
                            <p>hello<a
                                    href="{% url 'products' artist.product.id %}{{ artist.product.id }}">{{ product.artist }}</a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div> -->

            </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}