{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 mt-5">
    <div class="row h-100">
        <div class="col-12 mt-0 my-auto">
            <h1 class="display-3 logo-font text-black m-3">
                Oops! There seems to be an internal server error. Please bare with us, and try again later.
            </h1>
        </div>
    </div>
</div>
{% endblock %}