<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 pb-3">
            <h2 class="footer-header">About</h2>
            <p class="text-black">we wanted to</p>
        </div>
        <div class="col-sm-12 col-md-4 pb-3">
            <h3 class="footer-header">Links</h3>
            <ul>
                <li><a class="text-black" href="">Contact Us</a></li>
                <li><a class="text-black" href="">Privacy Policy</a></li>
            </ul>

        </div>
        <div class="col-sm-12 col-md-4 pb-3">
            <h2 class="footer-header">Follow Us</h2>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram fa-2x"></i>
                <span class="fa-sr-only">Link to Instagram. Opens in a new tab</span>
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-square-facebook fa-2x"></i>
                <span class="fa-sr-only">Link to Facebook. Opens in a new tab</span>
            </a>
            <a href="https://www.youtube.com/" target="_blank">
                <i class="fa-brands fa-youtube fa-2x"></i>
                <span class="fa-sr-only">Link to Youtube. Opens in a new tab</span>
            </a>
        </div>
    </div>
</div>