<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?sort=artist&direction=asc" class="dropdown-item">By Artist</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ceramics-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ceramics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ceramics-link">
                <a href="{% url 'products' %}?category=ceramics" class="dropdown-item">All Ceramics</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="paintings-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Paintings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="paintings-link">
                <a href="{% url 'products' %}?category=paintings" class="dropdown-item">All Paintings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="artists-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artists
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="artists-link">
                <a href="{% url 'artists' %}" class="dropdown-item">All Artists</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'testimonials' %}">Featured</a>
        </li>
    </ul>
</div>