{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<section class="text-center" style="margin: 0 20px;">
    <div class="p-5 bg-image mt-5"></div>
    <div id="auth-card" class="card mx-4 mx-md-5 shadow-5-strong" style="opacity: 0.8;">
        <div class="card-body py-5 px-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="container-fluid mt-5">
                        <h1 class="logo-font display-4 mb-5">{% trans "Change Password" %}</h1>
                        <p>{% trans 'Your password is now changed!' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}