{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-contact-success"></div>
<div class="container-fluid" style="height:100vh">
    <div class="row mt-5">
        <div class="col text-center mt-5">
            <h1 class="logo-font mt-5">Thank You!</h1>
            <hr class="w-50 mb-1">

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center mt-3 p-3">
            <h5 class="text-black">Thank you for contacting us, we hope to respond to your enquiry with 48 hours!</h5>
        </div>
    </div>
</div>
{% endblock %}